<div class="call-to-action">
    <div class="row">
        <div class="left-content block-title col-sm-5">
            <h2>{{ field_block_title }}</h2>
        </div>
        <div class="right-content block-content col-sm-7">
            {{ content.body }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <img src="{{ image_path }}">
        </div>
        <div class="right-content block-content col-sm-5">
            {{ content.field_link }}
        </div>
    </div>
</div>
