{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="container">
    <h2 class="contact-title">{{ 'Contact' | t }}</h2>
    <div class="row mb-60">
        <form{{ attributes }}>
            {{ children }}
        </form>
    </div>
</div>

